@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
/* font-family: 'Work Sans', sans-serif; */
/* header css */
*{
    font-family: 'Work Sans', sans-serif;
}

body, html{
    width: 1600px;
    
}

.banner-image{
   
    background-image: url("../images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 768px;
    width: 1366px;
}

.banner-text{
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align:end;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 50%;
    /* border: 1px solid #333; */
    
    
}

header{
    border: 1px solid transparent;
    padding: 10px 50px;
}

.banner-text>h3{
    font-size: 48px;
    font-weight: bolder;
}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.my-failures{
    margin: 939px 180px 0px 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 87px;
    
}

#lady-image{
    height: 500px;
}

.child-two>p{
    width: auto;
    
}

.child-two{
    padding-top: 100px;
}

.fa-regular{
    color: blue;
}

.my-plans{
    margin: 100px 180px 0px 180px;
    display: flex;
    flex-direction: column;
    align-self: center;
    
    
}

.my-plan-text{
    text-align: center;
}

.child-plans{
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid #333; */
    text-align: center;
}

.stack-image{
    height: 70px;
    width: 70px;
}

/* gradient image */
.watch-banner{
    margin: 100px 230px;
}

.watch-bg{
    /* background-image:url("../images/watch.png"); */
    /* margin: 100px 230px; */
    /* made the parent relative in order to put text over multiple stacked photos */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 1140px;
    height: 300px;
    /* z-index: -1; */
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    
}

.watch-text{
    position:absolute;
    z-index: 3;
    padding: 30px 50px;
    color:aliceblue;
    font-size: 20px;
    
}


.image1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
  }
  .image2 {
    position: absolute;
    top: 0;
    left: 0;
    
    
}

/* footer css */
footer{
    /* margin: 0 230px; */
    width: 1600px;
    height:577px;
    padding:100px 230px;
    background-color: #151414;
    position: absolute;


}

#future-info{
    width: 45%;
}

.duo-child-one>p{
    font-size: 18px;
    color: aliceblue;
}
.duo-child-icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0px;
}

.duobox{
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

input[type=text]{
    width:fit-content;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color:#151414;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}
input[type=submit]{
    background-color: #de5d83;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}